.footer {
	bottom: 0;
	z-index: 0;
	height: 300px;
	background-color: #11477b;
	width: 100%;
	/* Set a specific height */
}

.footer-left-section {
	height: 100%;
	width: 30%;

	float: left;
	/* border-right: 1px solid #13508b; */
}

.footer-right-section {
	height: 100%;
	width: 70%;
	float: right;
}

.footer-left {
	width: 33.33%;
	height: 100%;
	float: left;
}
.footer-middle {
	width: 33.33%;
	height: 100%;
	float: left;
}

.footer-right {
	width: 33.33%;
	height: 100%;
	float: right;
}

.footer-header {
	text-align: left;
	padding-top: 50px;
	padding-left: 50px;
}

.footer-header-text {
	font-weight: 300;
	color: white;
	font-size: 21px;
	margin-bottom: 16px;
}

.footer-location-title {
	font-weight: 400;
	color: white;
	font-size: 13px;
}

.footer-links {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
}

.footer-body {
	text-align: left;
	padding-left: 50px;
}

.footer-address {
	color: white;
	font-size: 13px;
	font-weight: 300;
}

.link-list {
	text-decoration: none;
	margin-top: 40px;
}

.link-item {
	list-style: none;
	margin-top: 10px;
}

.icon-wrap {
	height: 100%;

	display: flex;
	align-items: center;
}
.phone-icon {
	height: 18px;
	width: 18px;
}

.details {
	width: 100%;
	color: white;
}

.number-container {
	display: grid;
	grid-template-columns: 30px 7fr;
	margin-top: 40px;
	width: 100%;
}

.email-container {
	display: grid;
	grid-template-columns: 30px 7fr;
	margin-top: 20px;
	width: 100%;
}

.footer-img-container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: flex-end;
	padding: 30px;
}

.footer-img {
	width: auto;
	height: 100px;
}

.social-link {
	text-decoration: none;
}

/* styling for mobile devices */
@media screen and (max-width: 400px) {
	.footer-img {
		height: 40px;
	}

	.footer-header-text {
		font-size: 15px;
	}

	.footer-location-title {
		font-size: 12px;
	}

	.footer-address {
		font-size: 11px;
	}
	.footer-left-section {
		display: none;
	}

	.footer-right-section {
		width: 100%;
	}

	.footer-left {
		width: 50%;
	}

	.footer-right {
		width: 50%;
	}
	.footer-middle {
		display: none;
	}

	.details {
		font-size: 9px;
	}

	.phone-icon {
		height: 12px;
		width: 12px;
	}
}
