.nav-container {
	top: 0;
	position: sticky;
	min-height: 80px;
	z-index: 99;
	opacity: 1;
}

.visible {
	/* display: flex; */
	top: 0;
	transition: top 0.3s ease-out;
	top: 0;
	position: sticky;
	min-height: 80px;
	z-index: 99;
	opacity: 1;
}

.hidden {
	/* display: none; */
	top: -80px;
	transition-delay: 3s;
	transition: top 0.3s ease-out;
	position: sticky;
	min-height: 80px;
	z-index: 99;
	opacity: 1;
}

.navbar {
	background: rgb(248, 250, 250);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: relative;
	border-bottom: 1px solid rgb(233, 233, 240);
}

.navbar-logo {
	color: #12558f;
	justify-self: start;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.1rem;
	margin-top: 20px;
}

.fa-firstdraft {
	margin-left: 0.5rem;
	font-size: 1.6rem;
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 60vw;
	justify-content: end;
	margin-right: 2rem;
}

.nav-item {
	display: flex;
	align-items: center;
	height: 80px;
}

.nav-links {
	color: #12558f;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.nav-links:hover {
	color: #fff;
	background-color: #12558f;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.fa-bars {
	color: #12558f;
}

.nav-links-mobile {
	display: none;
}

.menu-icon {
	display: none;
}

.navbar-img {
	width: auto;
	height: 90px;
}

.logo-container {
	height: 100%;
	width: 200px;
	background-color: orange;
	display: flex;
	align-items: center;
}

.left-logo {
	width: 50%;
	float: left;
}

.right-logo {
	width: 50%;
	float: right;
}

@media screen and (max-width: 960px) {
	.NavbarItems {
		position: relative;
	}

	.fa-caret-down {
		display: none;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 90vh;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: #e9e3e3;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
		margin-bottom: 300px;
		/* margin-bottom: 80%; */
	}

	.nav-links:hover {
		background-color: #12558f;
		border-radius: 0;
	}

	.navbar-logo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(25%, 50%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #12558f;
		font-size: 2rem;
	}

	.nav-links-mobile {
		display: block;
		text-align: center;
		padding: 1.5rem;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		background: #12558f;
		text-decoration: none;
		color: #fff;
		font-size: 1.5rem;
		margin-bottom: 300px;
	}

	.nav-links-mobile:hover {
		transition: all 0.3s ease-out;
		background-color: transparent;
		color: #12558f;
		border-radius: 4px;
		border: solid var(--primary);
	}

	button {
		display: none;
	}
}
